@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:wght@500&display=swap');
html,
body {
	max-width: 100%;
	min-height: 100%;
	margin: 0px;
	padding: 0px;
}
h1, p, span, a, ul, li, input, button {
	margin: 0px;
	padding: 0px;
}
body.lock {
	overflow: hidden;
}
.wrapper {
	width: 100%;
	min-width: 320px;
	margin: 0 auto;
}
.header_wraper {

}
.header {
	width: 100%;
	margin: 0 auto;
	padding-top: 36px;
	position: fixed;
	z-index: 2;
	transition: 1s;
}
.header_top.scroll {
	padding-top: 5px;
	transition: 1s;
}
.header:before {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}
.header.scroll:before {
	background-color: rgba(255, 255, 255, 1);
	box-shadow: 0 0 15px rgb(0 0 0 / 30%);
	transition: 1s;
}
.container {
	max-width: 1232px;
	margin: 0 auto;
	padding: 0px 20px;
}
.header_body {
	height: 46px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.header_logo {
	z-index: 0;
}
.header_logo_mobile {
	display: none;
}
.header_menu {
	position: fixed;
	top: 0;
	left: -100%;
	width: 100%;
	height: 100%;
	transition: 1s;
}
.header_menu:before {
	content: "";
	position: absolute;
}
.header_menu.active {
	left: 0px;
	background-color: rgba(6, 18, 36, 0.7);
	transition: 1s;
	opacity: 1;
	overflow: scroll;
}
.header_menu_open_content {
	max-width: 450px;
	background-color: rgba(255, 255, 255, 1);
}
.header_menu_open_content_open {

}
.header_menu_open_header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 25px 52px 17px 58px;
}
.header_menu_open_logo_mobile {
	display: none;
}
.header_menu_open_line {
	max-width: 362px;
	border: 1px solid rgba(16, 100, 229, 1);
	margin: 0 43px 0 45px;
}
.header_menu_open_phone {
	margin: 41px 0px 40px 58px;
}
.header_menu_open_phone .header_menu_open_phone_nomber:nth-child(2) {
	margin-top: 41px;
	margin-bottom: 41px;
}
.header_menu_open_phone_nomber {
	font-family: 'IBM Plex Sans';
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 24px;
	letter-spacing: 0.19em;
	text-transform: uppercase;
	color: rgba(6, 18, 36, 0.9);
}
.header_menu_open_phone_nomber_mobile {
	display: none;
	font-family: 'IBM Plex Sans';
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 0.19em;
	text-transform: uppercase;
	color: rgba(6, 18, 36, 0.9);
	padding: 19px 0 17px 0;
}
.header_menu_open_phone_nomber_mobile_spoier {
	overflow: hidden;
	max-height: 0px;
}
.header_menu_open_navigation_link_mobile {
	display: none;
}
.header_menu_open_phone .header_menu_open_phone_nomber_mobile:nth-child(6) {
	margin-top: 63px;
}
.header_list_link_arrow_mobile {
	width: 8px;
	height: 4px;
	margin-left: 4px;
	transform: rotate(0deg);
	transition: 1s;
}
.header_menu_open_phone_nomber p:nth-child(2) {
	padding: 44px 0px;
}
.header_menu_open_button {
	margin: 33px 43px 41px 64px;
	display: flex;
	justify-content: space-between;
}
.header_menu_open_button_link {
	padding: 8px 32px;
	border: 1.5px solid rgba(16, 100, 229, 1);
	border-radius: 43px;
	text-decoration: none;
	font-family: 'IBM Plex Sans';
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 24px;
	letter-spacing: 0.19em;
	text-transform: uppercase;
}
.header_menu_open_button_link:hover {
	color: rgba(255, 255, 255, 1);
	background-color: rgba(16, 100, 229, 1);
}
.header_menu_open_navigation {
	margin: 43px 0px 52px 58px;
}
.header_menu_open_navigation_link {
	font-family: 'IBM Plex Sans';
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 24px;
	letter-spacing: 0.19em;
	text-transform: uppercase;
	color: rgba(6, 18, 36, 1);
}
.header_menu_open_navigation ul {
	list-style-type: none;
}
.header_menu_open_navigation li {
	padding: 30px 0px;
}
.header_menu_open_navigation li:first-child {
	padding-top: 0px;
}
.header_menu_open_navigation li:last-child {
	padding-bottom: 0px;
}
.header_menu_open_navigation ul li a {

}
.header_menu_open_navigation ul li a:last-child {
	margin: 0px;
	text-decoration: none;
}
.header_menu_open_lang {
	padding: 31px 0px 86px 74px;
}
.header_menu_open_lang {
	display: flex;
}
.header_menu_open_navigation_link_lang {
	font-family: 'IBM Plex Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 0.19em;
	text-transform: uppercase;
	color: rgba(6, 18, 36, 1);
	text-decoration: none;
}
.header_menu_open_lang a:nth-child(1) {
	margin-right: 39px;
}
@media screen and (max-width: 420px) {
	.header_menu_open_header {
		padding: 25px 19px 17px 20px;
	}
	.header_menu_open_button {
		flex-wrap: wrap;
		justify-content: center;
		margin: 33px 21px 28px 20px;
	}
	.header_menu_open_line {
		margin: 0px 20px 0px 21px;
	}
	.header_menu_open_lang {
		padding: 15px 0px 19px 20px;
	}
	.header_menu_open_button_link {
		padding: 11px 0px;
		width: 100%;
		text-align: center;
		margin-bottom: 24px;
	}
	.header_menu_open_button_link:nth-child(2) {
		margin-bottom: 0px;
	}
}
@media screen and (max-width: 320px) {
	.header_menu_open_logo {
		display: none;
	}
	.header_menu_open_logo_mobile  {
		display: block;
	}
	.header_menu_open_logo_close img {
		max-width: 100%;
	}
	.header_menu_open_phone_nomber {
		display: none;
	}
	.header_menu_open_phone {
		margin: 41px 0px 40px 20px;
	}
	.header_menu_open_phone.open {

	}
	.header_menu_open_phone_nomber_mobile_spoier {
		width: 226px;
		height: auto;
		transition: max-height 2s;
	}
	.header_menu_open_phone_nomber_mobile_spoier.open {
		max-height: 200px;
		transition: max-height 2s;
	}
	.header_menu_open_phone_nomber_mobile_spoier_text {
		font-family: 'IBM Plex Sans';
		font-style: normal;
		font-weight: 500;
		font-size: 14px;
		line-height: 24px;
		letter-spacing: 0.19em;
		text-transform: uppercase;
		padding: 11px 0 12px 0;
	}
	.header_menu_open_phone_nomber_mobile {
		display: flex;
		align-items: center;
	}
	.header_list_link_arrow_mobile {

	}
	.header_menu_open_phone_nomber_mobile_spoier .header_menu_open_phone_nomber_mobile_spoier_text:active {
		background-color: rgba(226, 237, 251, 1);
	}
	.header_list_link_arrow_mobile.open {
		transform: rotate(-180deg);
	}
	.header_menu_open_navigation {
		display: none;
	}
	.header_menu_open_navigation_mobile {
		font-family: 'IBM Plex Sans';
		font-style: normal;
		font-weight: 500;
		font-size: 16px;
		line-height: 24px;
		letter-spacing: 0.19em;
		text-transform: uppercase;
		margin-top: 63px;
	}
	.header_menu_open_navigation_link_mobile {
		font-family: 'IBM Plex Sans';
		font-style: normal;
		font-weight: 500;
		font-size: 16px;
		line-height: 24px;
		letter-spacing: 0.19em;
		text-transform: uppercase;
		text-decoration: none;
		display: flex;
		color: rgba(6, 18, 36, 0.9);
		margin-top: 49px;
		display: block;
	}
	.header_menu_open_phone a:nth-child(8) {
		margin-top: 52px;
	}
	.header_menu_open_content_open .header_menu_open_line:nth-child(4), 
	.header_menu_open_content_open .header_menu_open_line:nth-child(6) {
		display: none;
	}
}
.header_list {
	display: flex;
	align-items: center; 
	list-style: none;
	position: relative;
}
.header_list li:nth-child(4) a {
	padding-right: 0px;
}
.header_list li:nth-child(7) a {
	padding: 0px;
	margin-left: 25px;
}
.header_list li:nth-child(7) a.indent_left_lang {
	padding: 19px 0px 17px 0px;
}
.header_list li:nth-child(7) .header_list_link_hover a {
	color: rgba(183, 1, 1, 1);
	margin-left: 0px;
	padding-left: 13px;
}
.header_list_link {
	display: flex;
	align-items: center;
	font-size: 14px;
	font-weight: 500;
	font-style: normal;
	font-family: 'IBM Plex Sans';
	line-height: 24px;
	text-decoration: none;
	letter-spacing: 0.19em;
	color: rgba(6, 18, 36, 0.9);
	padding: 19px 18px 17px 18px;
	position: relative;
}
.indent_left_lang {
	padding: 19px 0px 17px 0px;
}
/*.header_list_link:hover {
	background-color: rgba(255, 255, 255, 1);	
	transition: 1s;
}*/
.header_list_link_hover {

}
.header_list_link_hover ul {
	list-style: none;
}
.header_list_link_hover {
	position: absolute;
	visibility: hidden;
	width: 226px;
}
.header_list_link_hover_lang {
	width: 70px;
	margin-left: 14px;
	background: none;
}
.header_list li:hover .header_list_link_hover {
	visibility: visible;
	transition: 0.5s;
	background-color: rgba(239, 246, 253, 1);
	box-shadow: 0px 1px 3px 0px;
}
.header_list li:nth-child(7):hover .header_list_link_hover {
	visibility: visible;
	transition: 0.5s;
	background-color: rgba(239, 246, 253, 1);
	box-shadow: 0px 1px 3px 0px;
}
.header_list li:hover .header_list_link_arrow {
	transform: rotate(-180deg);
	transition: 1s;
}
.header_list_link_hover a {
	/*padding: 11px 32px 12px 18px;*/
	display: block;
}
.header_list li:nth-child(1):hover .header_list_link_hover a {
	padding: 12px 3px 12px 18px;
}
.header_list li:nth-child(2):hover .header_list_link_hover a {
	padding: 11px 18px 12px 21px;
}
/*.header_list li:nth-child(7):hover .header_list_link_hover {
	background: none;
	margin-left: 14px;
	width: 70px;
}*/
.header_list_link_hover_nomber {
	font-size: 14px;
	font-weight: 500;
	font-style: normal;
	font-family: 'IBM Plex Sans';
	line-height: 24px;
	text-transform: uppercase;
	letter-spacing: 0.19em;
	text-decoration: none;
	color: rgba(6, 18, 36, 0.9);
}
.header_list_link_hover a:hover {
	background-color: rgba(226, 237, 251, 1);
} 
.header_list_link_hover:hover .header_list_link_arrow {
	transform: rotate(-180deg);
	transition: 1s;
}
.indent_left_enter {
	margin-left: 32px;
	padding: 8px 32px;
	border: 1.5px solid #1064E5;
	border-radius: 43px;
	text-transform: uppercase;
	box-sizing: border-box;
}
.indent_left_enter:hover {
	background-color: #1064E5;
	color: #FFFFFF;
	transition: 0.3s;
}
.indent_left_registranion {
	margin-left: 24px;
	padding: 8px 32px;
	border-radius: 45px;
	border: 1.5px solid #1064E5;
	text-transform: uppercase;
	color: rgba(6, 18, 36, 0.9);
}
.indent_left_registranion:hover {
	background-color: #1064E5;
	color: #FFFFFF;
	transition: 0.3s;
}
.header_list_link_arrow {
	width: 8px;
	height: 4px;
	margin-left: 4px;
	transform: rotate(0deg);
	transition: 1s;
}
.header_nav {

}
.header_burger {
	width: 27px;
	height: 27px;
	z-index: 3;
	position: relative;
	display: none;
}
.header_burger span {
	width: 100%;
	height: 3px;
	top: 12px;
	left: 0;
	background-color: rgba(16, 100, 229, 1);
	position: absolute;
	transition: 0.3s;
}
.header_burger.delete {
	display: none;
}
.header_burger:before,
.header_burger:after {
	content: "";
	width: 100%;
	height: 3px;
	left: 0px;
	background-color: rgba(16, 100, 229, 1);
	position: absolute;
}
.header_burger:before {
	top: 0px;
	transition: 0.3s;
}
.header_burger:after {
	bottom: 0px;
	transition: 0.3s;
}
.header_burger.active:before {
	transform: rotate(45deg);
	top: 12px;
	transition: 0.3s;
}
.header_burger.active span {
	transform: scale(0);
	transition: 0.3s;
}
.header_burger.active:after {
	transform: rotate(-45deg);
	bottom: 12px;
	transition: 0.3s;
}
@media screen and (max-width: 1120px) {
	.header_list_link {
		padding: 19px 5px 17px 5px;
	}
	.indent_left_enter {
		padding: 8px 32px;
		margin-left: 10px;
	}
	.indent_left_registranion {
		padding: 8px 32px;
		margin-left: 10px;
	}
	.header_list li:last-child a {
		margin-left: 5px;
	}
}
@media screen and (max-width: 970px) {
	.header_list {
		display: none;
	}
	.header_burger {
		display: block;
	}
}
.sighy_block_wrapper {

}
.sighy_block_wrapper_child_content {	
	height: 676px;
	margin: 0 auto;
}
.sighy_block_wrapper_child {
	position: absolute;
	z-index: 1;
	padding-top: 190px;
	width: 100%;
}
.sighy_block_wrapper_child_block {
	max-width: 1232px;
	padding: 0px 20px;
	margin: 0 auto;
}
.sighy_block_wrapper_child_img {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 0;
	height: 100%;
}
.sighy_block_wrapper_child_img img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}
@media screen and (min-width: 1500px) {
	.sighy_block_wrapper_child_img img {
		height: auto;
	}
}
.sighy_block_wrapper_child_img_tab {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 0;
	height: 100%;
	display: none;
}
.sighy_block_wrapper_child_img_tab img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.sighy_block_wrapper_child_img_mobile {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	display: none;
}
.sighy_block_wrapper_child_img_mobile img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}	
.sighy_block_wrapper_child_chapter {
	margin-bottom: 14px;
}
.sighy_block_wrapper_child_chapter_text {
	font-size: 40px;
	font-style: normal;
	font-weight: 500;
	line-height: 46px;
	font-family: 'IBM Plex Serif';
}
.sighy_block_wrapper_child_page {
	margin-bottom: 14px;
}
.sighy_block_wrapper_child_page_text {
	display: flex;
	align-items: center;
}
.sighy_block_wrapper_child_page_text_nomber {
	font-size: 18px;
	color: #061224;
	font-family: 'IBM Plex Sans';
	font-style: normal;
	font-weight: 500;
	line-height: 130%;
	margin-right: 16px;
	opacity: 0.6;
}
.sighy_block_wrapper_child_page_text_line {
	width: 16px;
	border: 1.5px solid #1064E5;
	background: #1064E5;
	margin-right: 16px;
	box-sizing: border-box;
}
.style_span {
	font-size: 24px;
	color: #061224E5;
	opacity: 1;
}
.sighy_block_wrapper_child_registration {
	margin-bottom: 14px;
}
.sighy_block_wrapper_child_registration {
	font-size: 24px;
	font-weight: 500;
	font-style: normal;
	font-family: 'IBM Plex Sans';
	line-height: 130%;
	color: #061224E5;
}
.sighy_block_wrapper_child_document {
	width: 454px;
	margin-bottom: 31px;
}
.sighy_block_wrapper_child_document_text {
	font-size: 16px;
	font-weight: 400;
	font-style: normal;
	font-family: 'IBM Plex Sans';
	line-height: 130%;
	color: #061224E5;
}
.sighy_block_wrapper_child_page_button {
	display: flex;
}
.sighy_block_wrapper_child_page_button_style {
	padding: 17px 32px;
	font-size: 16px;
	font-weight: 700;
	font-style: normal;
	line-height: 130%;
	font-family: 'IBM Plex Sans';
	background: red;
	border-radius: 45px;
	text-decoration: none;
	background-color: #1064E5;
	color: #FFFFFF;
	text-transform: uppercase;
	letter-spacing: 0.04em;
}
.sighy_block_wrapper_child_page_button_text {
	font-size: 16px;
	font-weight: 700;
	font-family: 'IBM Plex Sans';
	font-style: normal;
	line-height: 130%;
	color: #FFFFFF;
}
.owl-theme .owl-dots {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 29px;
}
.owl-theme .owl-dots .owl-dot span {
	border: 2px solid #1064E5;
	background: none !important;
	box-sizing: border-box;
}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
	background-color: rgba(16, 100, 229, 1) !important;
}
.owl-dot:first-child span {
	margin: 0px !important;
}
.owl-dot:nth-child(2) span {
	margin: 0px 25px !important;
}
.owl-dot:last-child span {
	margin: 0px !important;
}
@media screen and (max-width: 768px) {
	.header {
		padding-top: 35px;
	}
	.sighy_block_wrapper_child {
		padding-top: 135px;
	}
	.sighy_block_wrapper_child_chapter {
		max-width: 334px;
		margin-bottom: 36px;
	}
	.sighy_block_wrapper_child_page {
		margin-bottom: 6px;
	}
	.sighy_block_wrapper_child_registration {
		margin-bottom: 21px;
	}
	.sighy_block_wrapper_child_document {
		max-width: 324px;
		margin-bottom: 35px;
	}
	.sighy_block_wrapper_child_chapter_text {
		font-size: 36px;
	}
	.sighy_block_wrapper_child_img {
		display: none;
	}
	.sighy_block_wrapper_child_img_tab {
		display: block;
	}
}
@media screen and (max-width: 500px) {
	.header {
		padding-top: 25px;
	}
	.header_logo {
		display: none;
	}
	.header_logo_mobile {
		display: block;
		z-index: 0;
	}
	.header_burger {
		width: 18px;
		height: 14px;
	}
	.header_burger span {
		height: 2px;
		top: 6px;
	}
	.header_burger:before, .header_burger:after {
		content: "";
		height: 2px;
	}
	.header_burger.active:before {
		top: 6px;
	}
	.header_burger.active:after {
		bottom: 6px;
	}
	.sighy_block_wrapper_child_content {
		height: 506px;
	}
	.sighy_block_wrapper_child {
		padding-top: 94px;
	}
	.sighy_block_wrapper_child_chapter {
		margin-bottom: 30px;
	}
	.sighy_block_wrapper_child_page {
		margin-bottom: 12px;
	}
	.sighy_block_wrapper_child_registration {
		margin-bottom: 8px;
	}
	.sighy_block_wrapper_child_document {
		max-width: 205px;
		margin-bottom: 37px;

	}
	.sighy_block_wrapper_child_chapter_text {
		font-size: 25px;
		line-height: 26px;
	}
	.style_span {
		font-size: 18px;
	}
	.sighy_block_wrapper_child_page_text_nomber {
		font-size: 14px;
	}
	.sighy_block_wrapper_child_registration {
		font-size: 18px;
		line-height: 20px;
	}
	.sighy_block_wrapper_child_document_text {
		font-size: 14px;
	}
	.sighy_block_wrapper_child_page_button_style {
		font-size: 12px;
		padding: 15px 32px;
	}
	.owl-theme .owl-dots {
		top: 483px;
		margin-top: 0px !important;
	}
}
@media screen and (max-width: 350px) {
	.sighy_block_wrapper_child_img_mobile {
		display: block;
		width: 100%;
	}
	.sighy_block_wrapper_child_img_tab {
		display: none;
	}
	.sighy_block_wrapper_child_page_button {
		justify-content: center;
	}
}
.sighy_section_block {
	display: flex;
	justify-content: center;
}
.sighy_section_block_container {
	max-width: 985px;
	display: flex;
	padding: 54px 28px 75px 20px;
}
.sighy_section_block_container .sighy_section_block_item:nth-child(2) {
	margin-right: 78px;
}
.sighy_section_block_container .sighy_section_block_item:nth-child(3) {
	margin-right: 0px;
}
.sighy_section_block_item {
	margin-right: 54px;
}
.sighy_section_block_item_content {
	display: flex;
	align-items: center;
}
.sighy_section_block_content_img {
	padding-top: 15px;
}
.sighy_section_block_content_img_tab {
	display: none;
}
.sighy_section_block_content_img img {
	max-width: 100%;
}
.sighy_section_block_content_speed {
	margin-left: 20px;
}
.sighy_section_block_content_speed_header {
	font-family: 'IBM Plex Sans';
	font-style: normal;
	font-weight: 500;
	font-size: 24px;
}
.sighy_section_block_content_speed_body {
	font-family: 'IBM Plex Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 130%;
	padding-top: 20px;
}
.sighy_section_block_container div:nth-child(2)
.sighy_section_block_item_content div p:nth-child(2)
   {
	padding-top: 18px;
}
@media screen and (max-width: 970px) {
	.sighy_section_block_item {
		margin-right: 6px;
	}
	.sighy_section_block_container .sighy_section_block_item:nth-child(2) {
		margin-right: 21px;
	}
	.sighy_section_block_item_content {
		align-items: flex-start;
	}
	.sighy_section_block_content_img {
		padding-top: 0px;
	}
	.sighy_section_block_content_speed_header {
		font-size: 20px;
	}
	.sighy_section_block_content_speed_body {
		padding-top: 5px;
	}
	.sighy_section_block_container div:nth-child(2)
	.sighy_section_block_item_content div p:nth-child(2) {
		padding-top: 9px;
	}
	.sighy_section_block_container div:nth-child(3)
	.sighy_section_block_item_content div p:nth-child(2) {
		padding-top: 8px;
	}
}
@media screen and (max-width: 768px) {
	.sighy_section_block_container {
		padding: 38px 50px 55px 49px;
	}
	.sighy_section_block_content_img_tab {
		display: block;
	}
	.sighy_section_block_content_img {
		display: none;
	}
	.sighy_section_block_content_speed_body br {
		display: none;
	}
}
@media screen and (max-width: 708px) {
	.sighy_section_block_container {
		padding: 44px 20px 45px 20px;
	}
	.sighy_section_block_item {
		margin-right: 20px;
	}
	.sighy_section_block_item_content {
		flex-wrap: wrap;
		margin-right: 0px;
	}
	.sighy_section_block_content_speed {
		margin-left: 0px;
	}
}
@media screen and (max-width: 500px) {
	.sighy_section_block_container {
		flex-direction: column;
		margin-right: 0px;
	}
	.sighy_section_block_item_content {
		flex-wrap: nowrap;
	}
	.sighy_section_block_item {
		margin-right: 0px;
	}
	.sighy_section_block_container .sighy_section_block_item:nth-child(2) {
		margin-right: 0px;
		margin-top: 36px;
	}
	.sighy_section_block_container .sighy_section_block_item:nth-child(3) {
		margin-top: 36px;
	}
	.sighy_section_block_content_speed {
		margin-left: 33px;
	}
	.sighy_section_block_content_speed_body {
		font-size: 14px;
		padding-top: 6px;
	}
	.sighy_section_block_container div:nth-child(2)
	.sighy_section_block_item_content div p:nth-child(2) {
		padding-top: 6px;
	}
	.sighy_section_block_container div:nth-child(3) 
	.sighy_section_block_item_content div p:nth-child(2) {
		padding-top: 6px;
	}
}
.sighy_section_comfort {
	background-color: rgba(216, 241, 240, 1);
	overflow: hidden;
}
.sighy_section_comfort_container {
	padding: 57px 0px 92px 0px;
}
.sighy_section_comfort_item {
	max-width: 1232px;
	margin: 0 auto;
	padding: 0px 20px;
	display: flex;
	justify-content: space-between;
}
.sighy_section_comfort_item:last-child {
	padding-top: 57px;
	max-width: 1263px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}
.sighy_section_comfort_content {
	max-width: 50%;
}
.sighy_section_comfort_content_text {
	max-width: 502px;
	padding-right: 20px;
}
.sighy_section_comfort_content_img {
	max-width: 50%;
}
.sighy_section_comfort_header_text {
	font-family: 'IBM Plex Serif';
	font-style: normal;
	font-weight: 500;
	font-size: 40px;
	line-height: 48px;
	color: rgba(6, 18, 36, 0.9);
	margin-bottom: 18px;
}
.sighy_section_comfort_ul {
	font-family: 'IBM Plex Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 28px;
	color: rgba(6, 18, 36, 0.9);
	margin-left: 8px;
}
.sighy_section_comfort_ul li:not(:last-child) {
	margin-bottom: 10px;
}
.sighy_section_comfort_ul li::marker {
	content: "-";
	color: rgba(6, 18, 36, 0.9);
}
.sighy_section_comfort_ul li {
	padding-left: 10px;
}
.sighy_section_comfort_button {
	width: 217px;
	height: 56px;
	border: 1.5px solid #1064E5;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 46px;
	text-decoration: none;
	margin-top: 19px;
}
.sighy_section_comfort_button:hover {
	background-color: rgba(16, 100, 229, 1);
	color: rgba(255, 255, 255, 1);
	transition: 0.3s;
}
.sighy_section_comfort_button_link {
	font-family: 'IBM Plex Sans';
	font-style: normal;
	font-weight: 700;
	font-size: 14px;
	line-height: 24px;
	text-transform: uppercase;
}
.sighy_section_comfort_content:last-child {
	margin-right: 0px;
	max-width: 533px;
	padding-left: 20px;
}
.sighy_section_comfort_img {
	margin-top: 28px;
}
.sighy_section_comfort_item:nth-child(2) .sighy_section_comfort_content:nth-child(2) .sighy_section_comfort_button {
	margin-top: 38px;
}
.sighy_section_comfort_item:nth-child(2) .sighy_section_comfort_content:nth-child(2) .sighy_section_comfort_button:hover {
	background-color: rgba(16, 100, 229, 1);
	color: rgba(255, 255, 255, 1);
	transition: 0.3s;
}
.sighy_section_comfort_item:nth-child(2) .sighy_section_comfort_content .sighy_section_comfort_img {
	margin-top: 0px;
	display: flex;
	justify-content: flex-end;
}
@media screen and (max-width: 900px) {
	.sighy_section_comfort_item {
		align-items: center;
	}
	.sighy_section_comfort_item:last-child {
		align-items: center;
	}
	.sighy_section_comfort_header_text {
		font-size: calc(4vw + 4px);
	}
	.sighy_section_comfort_ul {
		font-size: calc(2vw + 0px);
	}
}
@media screen and (max-width: 770px) {
	.sighy_section_comfort_header_text {
		font-size: 36px;
	}
	.sighy_section_comfort_ul {
		font-size: 16px;
	}
	.sighy_section_comfort_button {
		height: 47px;
	}
	.sighy_section_comfort_button_link {
		font-size: 14px;
	}
	.sighy_section_comfort_img {
		margin-top: 48px;
	}
}
@media screen and (max-width: 730px) {
	.sighy_section_comfort_header_text {
		font-size: calc(4vw + 4px);
	}
}
@media screen and (max-width: 500px) {
	.sighy_section_comfort_container {
		padding: 0px;
	}
	.sighy_section_comfort_item {
		flex-direction: column;
	}
	.sighy_section_comfort_content_img {
		max-width: none;
	}
	.sighy_section_comfort_img img {
		max-width: 100%;
	}
	.sighy_section_comfort_item:last-child {
		flex-direction: column-reverse;
	}
	.sighy_section_comfort_item:nth-child(2) .sighy_section_comfort_content .sighy_section_comfort_img {
		margin-top: 31px;
	}
	.sighy_section_comfort_content {
		max-width: none;
	}
	.sighy_section_comfort_button {
		margin: 0 auto;
		margin-top: 31px;
	}
	.sighy_section_comfort_content:last-child {
		padding-left: 0px;
	}
	.sighy_section_comfort_header_text {
		font-size: 20px;
		line-height: 22px;
		margin-top: 22px;
		margin-bottom: 12px;
	}
	.sighy_section_comfort_content_text {
		padding-right: 0px;
	}

	.sighy_section_comfort_ul li:not(:last-child) {
		margin-bottom: 6px;
	}
	.sighy_section_comfort_button {
		margin: 0 auto;
		margin-top: 31px;
	}
	.sighy_section_comfort_item:nth-child(2) .sighy_section_comfort_content:nth-child(2) .sighy_section_comfort_button {
		margin-top: 35px;
	}
	.sighy_section_comfort_item:last-child {
		padding-top: 53px;
		padding-bottom: 52px;
	}
	.sighy_section_comfort_item:last-child .sighy_section_comfort_content .sighy_section_comfort_header p {
		margin-top: 0px;
	}
}
@media screen and (max-width: 320px) {
	.sighy_section_comfort_ul {
		font-size: 14px;
		line-height: 130%;
	}
	.sighy_section_comfort_button_link {
		font-size: 12px;
	}
}
.sighy_section_package {

}
.sighy_section_package_container {
	max-width: 1124px;
	margin: 0 auto;
	padding: 0px 20px;
}
.sighy_section_package_header {
	margin-top: 57px;
	margin-bottom: 63px;
}
.signu_section_package_header_content {
	text-align: center;
	font-family: 'IBM Plex Serif';
	font-style: normal;
	font-weight: 500;
	font-size: 36px;
	line-height: 48px;
}
.sighy_section_package_block {
	display: flex;
	justify-content: space-between;
	margin-bottom: 98px;
}
.sighy_section_package_block_content {
	width: 256px;
	background-color: rgba(222, 238, 252, 1);
	border-radius: 4px;
	display: flex;
}
.sighy_section_package_block_content:not(:last-child) {
	margin-right: 10px;
}
.sighy_section_package_block_container {
	padding: 32px 20px 32px 32px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 100%;
}
.sighy_section_package_block_header {
	margin-bottom: 44px;
}
.sighy_section_package_block_content_text {
	font-family: 'IBM Plex Sans';
	font-style: normal;
	font-weight: 500;
	font-size: 28px;
	line-height: 40px;
}	
.sighy_section_package_block_body {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
}
.sighy_section_package_block_document {
	margin-bottom: 12px;
}
.sighy_section_package_block_document_content {
	font-family: 'IBM Plex Sans';
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 24px;
}
.sighy_section_package_block_price {
	margin-bottom: 50px;
}
.sighy_section_package_block_document_content_term {
	font-family: 'IBM Plex Sans';
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 24px;
}
.sighy_section_package_block_document_content_term span {
	font-family: 'IBM Plex Sans';
	font-style: normal;
	font-weight: 700;
	font-size: 48px;
	line-height: 48px;
	color: rgba(6, 18, 36, 0.9);
	word-break: break-all;
}
.sighy_section_package_block_button {
	text-decoration: none;
	padding-right: 22px;
}
.sighy_section_package_block_button_content {
	max-width: 160px;
	padding: 9px 15px 11px 15px;
	background-color: rgba(16, 100, 229, 1);
	border-radius: 100px;
}
.sighy_section_package_block_button_content_text {
	font-family: 'IBM Plex Sans';
	font-style: normal;
	font-weight: 600;
	font-size: 12px;
	line-height: 20px;
	text-align: center;
}
@media screen and (max-width: 917px) {
	.sighy_section_package_container {
		padding: 0px;
	}
	.sighy_section_package_block {
		flex-wrap: wrap;
		justify-content: space-between;
		justify-content: center;
	}
	.sighy_section_package_header {
		margin-top: 27px;
		margin-bottom: 16px;
	}
	.sighy_section_package_block_content {
		margin-bottom: 50px;
		margin-right: 50px;
	}
	.sighy_section_package_block_content:not(:last-child) {
		margin-right: 25px;
		margin-left: 25px;
	}
	.sighy_section_package_block_content:last-child {
		margin-right: 25px;
		margin-left: 25px;
		}
}
@media screen and (max-width: 655px) {
	.sighy_section_package_header {
		margin-top: 20px;
		margin-bottom: 20px;
	}
	.signu_section_package_header_content {
		font-size: 20px;
		padding: 0px 40px;
		line-height: 22px;
	}
	.sighy_section_package_block {
		margin-bottom: 33px;
	}
	.sighy_section_package_block_content:not(:last-child) {
		margin-left: 10px;
		margin-right: 10px;
		margin-bottom: 10px;
	}
	.sighy_section_package_block_content:last-child {
		margin-left: 10px;
		margin-right: 10px;
		margin-bottom: 10px;
	}
}
.sighy_section_documentation {
	background-color: rgba(216, 241, 240, 1);
}
.signy_section_documention_container {
	max-width: 606px;
	margin: 0 auto;
	padding: 43px 20px;
}
.signy_section_documention_item {
	text-align: center;
}
.sighy_section_documentation_content:not(:first-child) {
	margin-top: 12px;
}
.sighy_section_documentation_content:last-child {
	padding-left: 65px;
	padding-right: 63px;
}
.sighy_section_documentation_content_number {
	font-family: 'IBM Plex Sans';
	font-style: normal;
	font-weight: 500;
	font-size: 73px;
	line-height: 48px;
}
.sighy_section_documentation_content_document {
	font-family: 'IBM Plex Serif';
	font-style: normal;
	font-weight: 500;
	font-size: 40px;
	line-height: 48px;
}
.sighy_section_documentation_content_description {
	font-family: 'IBM Plex Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 28px;
}
@media screen and (max-width: 768px) {
	.signy_section_documention_container {
		padding: 39px 20px;
	}
	.sighy_section_documentation_content:not(:first-child) {
		margin-top: 6px;
}
	.sighy_section_documentation_content_number {
		font-size: 56px;
		line-height: 48px;
	}
	.sighy_section_documentation_content_document {
		font-size: 36px;
		line-height: 48px;
	}
	.sighy_section_documentation_content_description {
		font-size: 18px;
		line-height: 22px;
	}
}
@media screen and (max-width: 465px) {
	.signy_section_documention_container {
		padding: 42px 20px 43px 20px;
	}
	.signy_section_documention_item {
		padding-left: 0px;
	}
	.sighy_section_documentation_content:last-child {
		padding-left: 0px;
		padding-right: 0px;
	}
	.sighy_section_documentation_content_number {
		font-size: 36px;
		line-height: 36px;
	}
	.sighy_section_documentation_content_document {
		font-size: 20px;
		line-height: 22px;
	}
	.sighy_section_documentation_content_description {
		font-size: 14px;
		line-height: 130%;
		padding-right: 0px;
	}
}
.signy_section_friends_container {
	max-width: 1033px;
	margin: 0 auto;
	padding: 0px 20px;
}
.signy_section_friends_header {
	padding-top: 47px;
	padding-bottom: 29px;
}
.signy_section_friends_header_text {
	font-family: 'IBM Plex Serif';
	font-style: normal;
	font-weight: 500;
	font-size: 40px;
	line-height: 48px;
	text-align: center;
}
.signy_section_friends_items {
	margin-bottom: 98px;
}
.owl-carousel .owl-item .signy_section_friends_content img {
	width: auto;
	max-width: 100%;
}
.signy_section_friends_items .owl-dots {
	position: absolute;
	bottom: -67px;
}
.signy_section_friends_items {
	display: flex;
}
.owl-stage {
	display: flex;
	align-items: center;
}
.signy_section_friends_content:first-child {
	margin-left: 10px;
}
.signy_section_friends_content_mobile {
	display: none;
}
@media screen and (max-width: 768px) {
	.signy_section_friends_header_text {
		font-size: 36px;
	}

}
@media screen and (max-width: 500px) {
	.signy_section_friends_items .owl-dots {
		top: 125px;
	}
}
@media screen and (max-width: 499px) {
	.signy_section_friends_items .owl-stage-outer {
		display: none;
	}
	.signy_section_friends_header {
		padding-top: 20px;
		padding-bottom: 25px;
	}
	.signy_section_friends_header_text {
		font-size: 20px;
		line-height: 22px;
	}
	.signy_section_friends_items .signy_section_friends_content {
		display: none;
	}
	.signy_section_friends_items {
		margin-bottom: 0px;
	}
	.signy_section_friends_content_mobile {
		display: block;
	}
	.signy_section_friends_items_mobile {
		margin-bottom: 57px;
	}
	.signy_section_friends_content_mobile img {
		width: auto !important;
		margin:  0 auto;
	}
	.signy_section_friends_content_mobile img:last-child {
		padding-top: 30px;
	}
	.signy_section_friends_items_mobile .owl-dots {
		top: 148px;
	}
	.signy_section_friends_items .owl-dots.disabled {
		display: none !important;
	}
	.signy_section_friends_items .owl-dots {
		display: none;
	}
}
.signy_section_interesting {
	background-color: rgba(216, 241, 240, 1);
}
.signy_section_interesting_conteiner {
	max-width: 1230px;
	margin: 0 auto;
	padding: 0px 20px;
}
.signy_section_interesting_header {
	padding-top: 38px;
	padding-bottom: 32px;
	text-align: center;
}
.signy_section_interesting_header_text {
	font-family: 'IBM Plex Serif';
	font-style: normal;
	font-weight: 500;
	font-size: 40px;
	line-height: 48px;
}
.signy_section_interesting_items {
	display: flex;
	justify-content: space-between;
}
.signy_section_interesting_content:nth-child(2) {
	margin: 0px 10px;
}
.signy_section_interesting_img {
	margin-bottom: 14px;
	border-radius: 4px;
}
.signy_section_interesting_img img {
	max-width: 100%;
}
.signy_section_interesting_title {
	padding-bottom: 44px;
}
.signy_section_interesting_title_date {
	margin-bottom: 6px;
	font-family: 'IBM Plex Sans';
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 24px;
}
.signy_section_interesting_title_text {
	font-family: 'IBM Plex Sans';
	font-style: normal;
	font-weight: 500;
	font-size: 24px;
	line-height: 26px;
	padding-right: 20px;
}
@media screen and (max-width: 1000px) {
	.signy_section_interesting_title_text {
		font-size: calc(2vw + 4px);
	}
}
@media screen and (max-width: 768px) {
	.signy_section_interesting_content:nth-child(3) {
		display: none;
	}
	.signy_section_interesting_content {
		overflow: hidden;
		margin-right: 45px;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.signy_section_interesting_header {
		padding-top: 35px;
		padding-bottom: 42px;
	}
	.signy_section_interesting_header_text {
		font-size: 36px;
		line-height: 48px;
	}
	.signy_section_interesting_img {
		display: flex;
		justify-content: center;
	}
	.signy_section_interesting_img img {
		max-width: unset;
	}
	.signy_section_interesting_title_text {
		font-size: 20px;
		line-height: 28px;
	}
}
@media screen and (max-width: 500px) {
	.signy_section_interesting_items {
		flex-direction: column;
	}
	.signy_section_interesting_content {
		align-items: unset;
		margin: 0 auto;
	}
	.signy_section_interesting_content:nth-child(2) {
		margin: 0 auto;
		padding-bottom: 19px;
	}
	.signy_section_interesting_content {
		overflow: unset;
	}
	.signy_section_interesting_img {
		margin-bottom: 12px;
	}
	.signy_section_interesting_img img {
		max-width: 100%;
	}
	.signy_section_interesting_header {
		padding-top: 21px;
		padding-bottom: 25px;
	}
	.signy_section_interesting_header_text {
		font-size: 20px;
		line-height: 22px;
	}
	.signy_section_interesting_title {
		padding-bottom: 12px;
	}
	.signy_section_interesting_title_date {
		font-size: 12px;
		line-height: 14px;
	}
	.signy_section_interesting_title_text {
		font-size: 16px;
		line-height: 18px;
	}
}
.signy_section_acquaintance_container {
	max-width: 734px;
	margin: 0 auto;
	padding: 0px 20px;
}
.signy_section_acquaintance_header {
	padding-top: 49px;
	padding-bottom: 40px;
}
.signy_section_acquaintance_header_text {
	font-family: IBM Plex Serif;
	font-size: 40px;
	font-weight: 500;
	line-height: 48px;
	letter-spacing: 0em;
	text-align: center;
}
.signy_section_acquaintance_block_video {
	display: flex;
	justify-content: center;
	padding-bottom: 63px;
	position: relative;
}
.signy_section_acquaintance_block_video img {
	max-width: 100%;
}
@media screen and (max-width: 768px) {
	.signy_section_acquaintance_header_text {
		font-size: 36px;
	}
	.signy_section_acquaintance_header {
		padding-top: 50px;
		padding-bottom: 40px;
	}
	.signy_section_acquaintance_block_video {
		padding-bottom: 50px;
	}
}
@media screen and (max-width: 500px) {
	.signy_section_acquaintance_header {
		padding-top: 20px;
		padding-bottom: 20px;
	}
	.signy_section_acquaintance_header_text {
		font-family: IBM Plex Serif;
		font-size: 20px;
		line-height: 22px;
		text-align: center;
	}
	.signy_section_acquaintance_block_video {
		padding-bottom: 20px;
	}
}
.signy_section_question {
	background: rgba(222, 238, 252, 1);
}
.signy_section_question_container {
	max-width: 797px;
	margin: 0 auto;
	padding: 0px 20px;
}
.signy_section_question_header {
	padding-top: 26px;
	padding-bottom: 36px;
}
.signy_section_question_items {
	max-width: 527px;
	margin: 0 auto;
	padding-bottom: 42px;
}
.signy_section_question_header_text {
	font-family: IBM Plex Serif;
	font-size: 40px;
	font-weight: 500;
	line-height: 48px;
	letter-spacing: 0em;
	text-align: center;
}
.signy_section_question_content {
	position: relative;
}
.signy_section_question_content_img {
	position: absolute;
	top: 2px;
}
.signy_section_question_content_img img:nth-child(2) {
	display: none;
}
.signy_section_question_content_img:after {
	content: "";
	position: absolute;
	top: 7px;
	left: 0px;
	width: 10px;
	height: 2px;
	background-image: url(../img/-.png);
	opacity: 0;
	transition: 1s;
	transform: rotate(180deg);
}
.signy_section_question_content_img.spoiler:after {
	opacity: 1;
	transition: 1s;
	transform: rotate(-180deg);
}
.signy_section_question_content_img img {
	transition: 1s;
	transform: rotate(180deg);
}
.signy_section_question_content_img.spoiler img {
	transition: 1s;
	transform: rotate(-180deg);
	opacity: 0;
}
.signy_section_question_content:not(:last-child) {
	margin-bottom: 18px;
}
.signy_section_question_content_spoiler {
	padding-top: 6px;
	height: auto;
	max-height: 0px;
	transition: max-height 1s;
	overflow: hidden;
}
.signy_section_question_content_spoiler.spoiler {
	max-height: 350px;
	transition: max-height 2s;

}
.signy_section_question_content_text {
	font-family: IBM Plex Sans;
	font-size: 18px;
	font-weight: 400;
	line-height: 22px;
	letter-spacing: 0px;
	text-align: left;
	margin-left: 30px;
	cursor: pointer;
}
.signy_section_question_content_text.spoiler {
	font-weight: 500;
}
.signy_section_question_content_spoiler_text {
	font-family: IBM Plex Sans;
	font-size: 18px;
	font-weight: 400;
	line-height: 22px;
	letter-spacing: 0px;
	text-align: left;
	margin-left: 30px;
}
@media screen and (max-width: 768px) {
	.signy_section_question_container {
		padding: 0px 80px;
	}
	.signy_section_question_items {
		padding-bottom: 44px;
	}
	.signy_section_question_header {
		padding-top: 16px;
		padding-bottom: 23px;
	}
	.signy_section_question_header_text {
		font-size: 36px;
		line-height: 36px;
	}
	.signy_section_question_content_spoiler_text {
		font-size: 16px;
		line-height: 22px;
	}
}
@media screen and (max-width: 500px) {
	.signy_section_question_container {
		padding: 0px 20px;
	}
	.signy_section_question_header {
		padding: 30px 0px;
	}
	.signy_section_question_header_text {
		font-size: 20px;
		line-height: 22px;
	}
	.signy_section_question_content_img img:first-child {
		display: none;
	}
	.signy_section_question_content_img img:nth-child(2) {
		display: block;
		position: absolute;
		top: 2px;
	}
	.signy_section_question_content:not(:last-child) {
		margin-bottom: 12px;
	}
	.signy_section_question_content_text {
		font-size: 14px;
		line-height: 18px;
		margin-left: 13px
	}
	.signy_section_question_content_spoiler_text {
		font-size: 14px;
		line-height: 18px;
	}
}	
.signy_section_news_container {
	max-width: 663px;
	margin: 0 auto;
	padding: 0px 20px;
	text-align: center;
	padding-bottom: 98px;
}
.signy_section_news_header {
	padding-top: 56px;
	padding-bottom: 30px;
}
.signy_section_news_header_text {
	font-family: IBM Plex Serif;
	font-size: 40px;
	font-weight: 500;
	line-height: 48px;
	letter-spacing: 0em;
	text-align: center;
}
.signy_section_news_form_block {
	display: flex;
	justify-content: space-between;
	margin: 0px 34px;
	padding-top: 30px;
}
.signy_section_news_form_instruction {
	font-family: IBM Plex Sans;
	font-size: 18px;
	font-weight: 400;
	line-height: 33px;
	letter-spacing: 0px;
	text-align: center;
}
input[type="text"] {
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
	margin: 0;
}
.signy_section_news_form_input {
	width: 399px;
	height: 50px;
}
.signy_section_news_form_input input {
	width: 100%;
	height: 100%;
	border-radius: 37px;
	border: 1px solid rgba(16, 100, 229, 1);
	box-sizing: border-box;
	padding: 0px 10px;
	outline: 0;
}
.signy_section_news_form_input_value {
	
}
.signy_section_news_form_block_button {
	width: 178px;
	height: 50px;
}
button {
	border: 0px;
}
.signy_section_news_form_button {
	font-family: IBM Plex Sans;
	font-size: 14px;
	font-weight: 500;
	line-height: 24px;
	letter-spacing: 0.19em;
	text-align: center;
	width: 100%;
	height: 100%;
	background: rgba(16, 100, 229, 1);
	color: rgba(255, 255, 255, 1);
	border-radius: 41px;
	cursor: pointer;
}
@media screen and (max-width: 768px) {
	.signy_section_news_header {
		padding-top: 41px;
		padding-bottom: 31px;
	}
	.signy_section_news_header_text {
		font-size: 36px;
		line-height: 48px;
	}
	.signy_section_news_form_instruction {
		font-size: 16px;
		line-height: 23px;
		letter-spacing: 0px;
	}
	.signy_section_news_form_block {
		padding-top: 31px;
	}
	.signy_section_news_form_block_button {
		margin-left: 10px;
	}
}
@media screen and (max-width: 500px) {
	.signy_section_news_container {
		padding: 0px 28px;
	}
	.signy_section_news_form {
		margin-bottom: 25px;
	}
	.signy_section_news_form_block {
		flex-wrap: wrap;
		justify-content: center;
	}
	.signy_section_news_header {
		padding-top: 48px;
		padding-bottom: 20px;
	}
	.signy_section_news_header_text {
		font-size: 20px;
		line-height: 22px;
	}
	.signy_section_news_form_instruction {
		font-size: 14px;
		font-weight: 400;
		line-height: 21px;
	}

	.signy_section_news_form_input {
		width: 280px;
		height: 42px;
	}
	.signy_section_news_form_block_button {
		margin-top: 23px;
		width: 178px;
		height: 42px;
	}
	.signy_section_news_form_button {
		font-size: 12px;
		line-height: 24px;
	}
}
.signy_section_footer {
	background-color: rgba(6, 18, 36, 1);
}
.signy_section_footer_container {
	max-width: 1232px;
	margin: 0 auto;
	padding: 64px 20px 86px 20px;
}
.signy_section_footer_item {
	display: flex;
	justify-content: space-between;
}
.signy_section_footer_arrow_scroll {
	display: none;
}
.signy_section_footer_content {
	display: flex;
}
.signy_section_footer_content_block {
	display: flex;
}
.signy_section_footer_content:first-child {
	max-width: 616px;
}
.signy_section_footer_content_block_logo {
	display: flex;
	flex-direction: column;
	margin-right: 157px;
}
.signy_section_footer_content_block_logo_text {
	font-family: IBM Plex Sans;
	font-size: 12px;
	font-weight: 400;
	line-height: 24px;
	letter-spacing: 0em;
	text-align: left;
	opacity: 0.4;
	color: rgba(255, 255, 255, 1);
}
.signy_section_footer_content_block_logo_text_mobile {
	display: none;
}
.signy_section_footer_content_block_logo img:not(:last-child) {
	margin-bottom: 104px;
}
.signy_section_footer_content:first-child .signy_section_footer_content_block_article:last-child {
	margin-left: 47px;
}
.signy_section_footer_content:last-child .signy_section_footer_content_block_article:last-child {
	margin-left: 40px;
}
.signy_section_footer_content:first-child 
.signy_section_footer_content_block_article 
.signy_section_footer_content_block_article_ul li:nth-child(2) {
	margin-bottom: 20px;
} 
.signy_section_footer_content_block_article_ul {
	list-style: none;
}
.signy_section_footer_content_block_article_ul_mobile {
	display: none;
}
.signy_section_footer_content_block_article_link {
	font-family: IBM Plex Sans;
	font-size: 14px;
	font-weight: 500;
	line-height: 24px;
	letter-spacing: 0em;
	text-align: left;
	text-decoration: none;
	color: rgba(255, 255, 255, 1);
}
@media screen and (max-width: 1000px) {
	.signy_section_footer_content_block_logo {
		margin-right: 52px;
	}
	.signy_section_footer_content:first-child .signy_section_footer_content_block_article:last-child {
		margin-left: 20px;
	}
	.signy_section_footer_content:last-child .signy_section_footer_content_block_article:last-child {
		margin-left: 25px;
	}
}
@media screen and (max-width: 810px) {
	.signy_section_footer_container {
		padding-bottom: 20px;
		position: relative;
	}
	.signy_section_footer_item {
		justify-content: flex-start;
	}
	.signy_section_footer_content:first-child {
		margin-right: 71px;
	}
	.signy_section_footer_arrow_scroll {
		display: block;
		position: absolute;
		top: 64px;
		left: 90%;
	}
	.signy_section_footer_content_block {
		margin-top: 15px;
	}
	.signy_section_footer_content_block_logo img:not(:last-child) {
		margin-bottom: 254px;
	}
	.signy_section_footer_content_block {
		flex-direction: column;
	}
	.signy_section_footer_content:first-child .signy_section_footer_content_block_article:last-child {
		margin-left: 0px;
	}
	.signy_section_footer_content:nth-child(2) {
		flex-direction: column;
		margin-top: 15px;
	}
	.signy_section_footer_content:last-child .signy_section_footer_content_block_article:last-child {
		margin-left: 0px;
	}
	.signy_section_footer_content:first-child
	 .signy_section_footer_content_block 
	 .signy_section_footer_content_block_article_ul li:first-child {
		margin-bottom: 20px;
	}
	 .signy_section_footer_content_block
	 .signy_section_footer_content_block_article_ul li:nth-child(3) {
	 	margin-bottom: 20px;
	 }
	 .signy_section_footer_content:last-child
	 .signy_section_footer_content_block_article_ul li:first-child {
	 	margin-bottom: 30px;
	 }
	.signy_section_footer_content:nth-child(2)
	.signy_section_footer_content_block_article:last-child
	 .signy_section_footer_content_block_article_ul li:first-child {
	 	margin-bottom: 0px;
	 }
	 .signy_section_footer_content:nth-child(2)
	 .signy_section_footer_content_block_article_ul {
	 	margin-bottom: 36px;
	 }
	 .signy_section_footer_content_block:last-child
	 .signy_section_footer_content_block_article:last-child {
	 	margin-top: 20px;
	 }
	 .signy_section_footer_content_block_article:last-child
	 .signy_section_footer_content_block_article_ul li:nth-child(2) {
	 	margin-bottom: 8px;
	 }
	 .signy_section_footer_content_block_article:last-child 
	 .signy_section_footer_content_block_article_ul li:nth-child(3) {
	 	margin-bottom: 6px;
	 }
	 .signy_section_footer_content_block_article:last-child
	 .signy_section_footer_content_block_article_ul li:nth-child(4) {
	 	margin-bottom: 6px;
	 }
}
@media screen and (max-width: 650px) {
	.signy_section_footer_container {
		padding-top: 24px;
	}
	.signy_section_footer_arrow_scroll {
		top: 24px;
		left: 85%;
	}
	.signy_section_footer_content:first-child {
		flex-direction: column;
	}
	.signy_section_footer_content_block_logo img:not(:last-child) {
		max-width: 91px;
		margin-bottom: 0px;
	}
	.signy_section_footer_content:first-child
	 .signy_section_footer_content_block
	 .signy_section_footer_content_block_article:first-child
	 .signy_section_footer_content_block_article_ul:first-child li:nth-child(3), li:nth-child(4) {
	 	display: none;
	 }
	 .signy_section_footer_content_block_logo_text {
	 	display: none;
	 }
	 .signy_section_footer_content_block_article_ul_mobile li:first-child {
	 	margin-bottom: 20px;
	 }
	 .signy_section_footer_content_block_logo_text_mobile {
	 	display: block;
	 	font-family: IBM Plex Sans;
		font-size: 12px;
		font-weight: 400;
		line-height: 24px;
		letter-spacing: 0em;
		text-align: left;
		opacity: 0.4;
		color: rgba(255, 255, 255, 1);
		margin-top: 48px;
	 }
	 .signy_section_footer_content:first-child {
	 	margin-right: 0px;
	 }
	 .signy_section_footer_content:last-child {
	 	display: none;
	 }
	 .signy_section_footer_content_block_article:first-child {
	 	display: flex;
	 }
	 .signy_section_footer_content_block_article_ul {
	 	margin-right: 49px;
	 }
	 .signy_section_footer_content_block_article_ul_mobile {
	 	list-style-type: none;
	 	margin-left: 49px;
	 	display: block;
	 }
	 .signy_section_footer_content_block_article:nth-child(2) .signy_section_footer_content_block_article_ul_mobile {
	 	margin-left: 0px;
	 }
	 .signy_section_footer_content_block_article_ul_mobile li:nth-child(4) {
	 	display: block;
	 }
}
@media screen and (max-width: 500px) {
	.signy_section_footer_arrow_scroll {
		top: 0px;
	}
	.signy_section_footer_arrow_scroll img {
		height: 0px;
	}
	.signy_section_footer_arrow_scroll:after {
		position: absolute;
		content: url(../image/arrow_scroll_mobile.png);
		top: 24px;
	}
}



	
	

