html,
body{
	margin: 0px;
	padding: 0px;
	min-height: 100%;
	max-width: 100%;
}
html{
	scroll-behavior: smooth;
}
.wrapper{
	width: 100%;
	min-width: 320px;
	font-family: 'Open Sans', sans-serif;
}
.close{
	overflow: hidden;
}
.header{
	width: 100%;
	position: fixed;
	background: #fff;
	border: 1px solid #f2f2f2;
}
.header_block{
	max-width: 1200px;
	margin: 0 auto;
	padding: 0px 20px;
}
.header_block_content{
	display: flex;
	justify-content: space-between;
}
.img_block{
	display: flex;
	align-items: center;
	z-index: 1;
}
.img_block_link{
	width: 200px;
}
.logotip{
	max-width: 100%;
}
.header_menu{
	position: fixed;
	width: 100%;
	height: 100%;
	top: -100%;
	left: 0;
	background: #f9f9f9;
	transition: 1s;
}
.header_menu.active{
	top: 0;
}
.header_menu_open.active{
	width: 100%;
	height: 100%;
	background: #f9f9f9;
}
.header_menu_open_content.active{
	max-width: 1200px;
	margin: 0 auto;
}
.navigation_buttons{
	display: flex;
	align-items: center;
}
.ul{
	display: flex;
	list-style: none;
}
.navigation_buttons_li{
	margin-right: 20px;
}
.navigation_buttons_li:last-child{
	width: 15px;
	margin-right: 0px;
}
.navigation_buttons_li img{
	max-width: 100%;
	margin-top: 14px;
}
.navigation_buttons_li{
	padding: 2px 0px;
}
.li{
	padding: 2px 0px;
	border-bottom: 1px solid #e4e4e4;
}
.li.active{
	padding: 2px 0px;
	border-bottom: 1px solid #e4e4e4;
}
.ul_menu{
	position: absolute;
	top: 70px;
	left: 0;
	width: 95%;
	list-style: none;
	visibility: hidden;
	transition: 1s;
}
.ul_menu.active{
	position: absolute;
	top: 70px;
	left: 0;
	width: 95%;
	list-style: none;
	visibility: visible;
	transition: 1s;
}
.header_text{
	font-size: 13px;
	font-family: inherit;
	letter-spacing: 1px;
	text-transform: uppercase;
	color: #000000;
	font-family: Roboto;
}
.header_text:hover{
	color: blue;
}
.header_link{
	text-decoration: none;
}
.header_burger{
	position: relative;
	width: 30px;
	height: 20px;
	z-index: 3;
	color: black;
	display: none;
}
.header_burger:before{
	content: "";
	position: absolute;
	width: 100%;
	height: 2px;
	left: 0;
	background: black;
}
.header_burger:after{
	content: "";
	position: absolute;
	width: 100%;
	height: 2px;
	left: 0;
	bottom: 0;
	background-color: black;
}
.header_burger span{
	position: absolute;
	background-color: black;
	width: 100%;
	height: 2px;
	left: 0px;
	top: 9px;
}
.header_burger.active{

}
@media screen and (max-width: 850px){
	.ul{
		display: none;
	}
	.header_burger{
		display: block;
	}
	.header_block_content{
		padding: 10px 0px;
	}
}
.search_js{
	width: 200px;
	height: 70px;
	position: fixed;
	top: 80px;
	right: 94px;
	border: 1px solid #ececec;
	display: none;
}
.search{
	width: 200px;
	height: 70px;
	border: 1px solid #eeeeee;
	background: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
}
.search_1{
	width: 90%;
	height: 40px;
	border: 1px solid #0ea7aa;
}
img{
	margin: 0px;
	padding: 0px;
}
.auto_azs{
	width: 100%;
	background-image: url(../image/panorama.jpg);
	background-size: cover;
	background-position: 50% 50%;  
}
.auto_azs_content{
	background: rgba(20, 200, 254, 0.5);
}
.auto_azs_content{
	padding-top: 50px;
}
.auto_azs_1{
	max-width: 1200px;
	margin: 0 auto;
	padding: 50px 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.auto_azs_block_2{
	width: 500px;
	margin: 0 auto;
}
.auto_azs_block_2_text{
	font-size: 18px;
	line-height: 30px;
	color: #fff;
	text-align: center;
}
.conection{
	background: #3ccd22;
	padding: 15px 40px;
	border-radius: 15px 15px 15px 15px;
	text-transform: uppercase;
	font-family: Roboto;
	font-weight: 700;
	color: #000000;
	margin-top: 50px;
}
@media screen and (max-width: 670px){
	.auto_azs_block_2{
		width: 100%;
	}
}
.auto_azs_block_text{
	text-transform: uppercase;
	font-size: 52px;
	color: #ffffff;
	margin: 0px;
	padding: 0px;
	font-family: Roboto;
	text-align: center;
}
@media screen and (max-width: 927px){
	.auto_azs_block_text{
		height: 125px;
	}
}
@media screen and (max-width: 822px){
	.auto_azs_block_text{
		height: 120px;
	}
}
@media screen and (max-width: 700px){
	.auto_azs_block_text{
		font-size: 45px;
	}
}
@media screen and (max-width: 400px){
	.auto_azs_block_text{
		font-size: 40px;
	}
}
@media screen and (max-width: 390px){
	.auto_azs_block_text{
		font-size: 40px;
	}
}
@media screen and (max-width: 350px){
	.auto_azs_block_text{
		font-size: 35px;
	}
}
@media screen and (max-width: 320px){
	.auto_azs_block_text{
		font-size: 30px;
	}
}
@media screen and (max-width: 300px){
	.auto_azs_block_text{
		font-size: 30px;
	}
}
@media screen and (max-width: 260px){
	.auto_azs_block_text{
		font-size: 27px;
	}
}
@media screen and (max-width: 240px){
	.auto_azs_block_text{
		font-size: 24px;
	}
}
.azs_text{
	font-size: 35px;
	font-family: Roboto;
}
.azs_block_line{
	width: 30%;
	height: 16px;
	margin-top: 20px;
}
.azs_line{
	width: 45%;
	height: 3px;
	margin: 2px 0px;
	background: #ffb901;
}
.auto_azs_block_text_1{
	width: 55%;
	height: 155px;
}
@media screen and (max-width: 760px){
	.auto_azs_block_text_1{
		height: 130px;
	}
}
@media screen and (max-width: 680px){
	.auto_azs_block_text_1{
		height: 130px;
	}
}
@media screen and (max-width: 290px){
	.auto_azs_block_text_1{
		height: 150px;
	}
}
.auto_azs_block_text_2{
	width: 50%;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	background: #009688;
	font-weight: 600;
	border-radius: 10px 10px 10px 10px;
}
@media screen and (max-width: 950px){
	.auto_azs_block_text_2{
		width: 40%;
	}
}
@media screen and (max-width: 820px){
	.auto_azs_block_text_2{
		width: 50%;
	}
}
.azs_text_2{
	font-size: 19px;
	font-family: Roboto;
}
.nomber_text{
	margin-top: 10px;
	text-align: center;
	color: black;
	font-weight: 600;
	font-family: 'Dancing Script', cursive;
}
.nomber_link{
	text-decoration: none;
}
.kolonka{
	max-width: 100%;

}
.auto_azs_electronic{
	margin-top: 50px;
}
.auto_azs_electronic_content{
	max-width: 1200px;
	margin: 0 auto;
	padding: 30px 20px;
	display: flex;
}
@media screen and (max-width: 1000px){
	.auto_azs_electronic_content{
		flex-direction: column;
	}
}
.auto_azs_block_3{
	width: 10px;
	height: 10px;
	background: red;
}
.electronic_block{
	max-width: 550px;
}
.electronic_image{
	max-width: 640px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.electronic_text_1{
	width: 20%;
	height: 60px;
}
.electronic_text_logo{
	font-size: 20px;
	color: #ea0b1f;
	margin: 0px;
	padding: 0px;
	font-weight: 700;
	font-family: 'Roboto', sans-serif;
}
.electronic_text_logo_1{
	margin: 0px;
	padding: 0px;
	margin-top: -7px;
	font-size: 35px;
	font-weight: 700;
	font-family: 
	color: #795548;
}
.new_norm_text{
	color: #eb071a;
}
.new_norm_text_1{
	color: rgb(10, 10, 10);
}
.electronic_text_2{
	max-width: 550px;
	margin-top: 50px;
}
.electronic_text_paragraph{
	font-size: 34px;
	margin: 0px;
	padding: 0px;
	padding-right: 20px;
	font-family: Roboto;
}
.electronic_text_3{
	max-width: 550px;
	margin-top: 50px;
}
.electronic_text_paragraph_1{
	font-size: 18px;
	margin: 0px;
	padding: 0px;
	color: #929292;
	padding-right: 20px;
	font-family: Roboto;
}
.electronic_image_item{
	width: 50%;
	height: 200px;
	text-align: center;
}
.electronic_image_item img{
	max-width: 100%;
	height: 50%;
}
@media screen and (max-width: 1000px){
	.electronic_block{
		max-width: 100%;
	}
	.electronic_text_2{
		max-width: 100%;
		padding: 0px 50px;
		margin-top: 20px;
		text-align: center;
	}
	.electronic_image{
		max-width: 100%;
		margin-top: 50px;
	}
	.electronic_text_3{
		max-width: 100%;
		padding: 0px 50px;
		text-align: center;
	}
}
@media screen and (max-width: 700px){
	.electronic_image_item{
		width: 100%;
	}
	.electronic_text_2{
		padding: 0px;
		margin-top: 0px;
	}
	.electronic_text_paragraph{
		font-size: 30px;
	}
	.electronic_text_3{
		padding: 0px;
		margin-top: 30px;
	}
}
.electronic_text_4{
	font-size: 13px;
	color: #929292;
	font-weight: 700;
	font-family: Roboto;
}
.electronic_image_2{
	width: 50%;
	height: 200px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}
.electronic_image_3{
	width: 50%;
	height: 200px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}
@media screen and (max-width: 1000px){
	.electronic_image_3{
		height: auto;
	}
}
@media screen and (max-width: 600px){
	.electronic_image_3{
		width: 100%;
		display: flex;
		justify-content: center;
	}
}
.display{
	height: 50%;
	margin-top: 20px;
}
@media screen and (max-width: 600px){
	.display{
		width: 27%;
		height: 55%;
		margin: 10px 0px;
	}
}
@media screen and (max-width: 280px){
	.display{
		width: 45%;
		height: 55%;
		margin: 10px 0px;
	}
}
@media screen and (max-width: 370px){
	.display:{
		width: 40%;
		height: 70%;
	}
}
.electronic_image_4{
	width: 50%;
	height: 200px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}
@media screen and (max-width: 600px){
	.electronic_image_4{
		width: 100%;
		display: flex;
		justify-content: center;
		margin-top: 50px;
	}
}
.pk-ofis{
	width: 40%;
	height: 40%;
	margin-top: 30px;
}
@media screen and (max-width: 1000px){
	.pk-ofis{
		width: auto;
	}
}
@media screen and (max-width: 600px){
	.pk-ofis{
		width: 30%;
		height: 55%;
	}
}
@media screen and (max-width: 370px){
	.pk-ofis{
		width: 40%;
		height: 70%;
		margin: 0px 0px 10px 0px;
	}
}
@media screen and (max-width: 280px){
	.pk-ofis{
		width: 45%;
		height: 55%;
	}
}
.electronic_image_text{
}
.summary{
	width: 100%;
	height: 510px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
@media screen and (max-width: 1030px){
	.summary{
		height: 700px;
	}
}
@media screen and (max-width: 500px){
	.summary{
		height: 1100px;
	}
}
.summary_1{
	width: 90%;
	height: 300px;
	display: flex;
	align-items: center;
	justify-content: flex-start;
}
@media screen and (max-width: 1030px){
	.summary_1{
		display: flex;
		justify-content: space-around;

	}
}
@media screen and (max-width: 590px){
	.summary_1{
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}
}
.summary_2{
	width: 99%;
	height: 200px;
	display: flex;
	justify-content: space-around;
}
.summary_section_block{
	width: 90%;
	height: 200px;
	display: flex;
	justify-content: space-between;
}
@media screen and (max-width: 900px){
	.summary_section_block{
		display: flex;
		flex-wrap: wrap;
	}
}
.new_form_1{
	width: 20%;
	height: 50%;
	position: relative;
	top: 20px;
	left: 124px;
}
.summary_section_1{
	width: 24%;
	height: 200px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.new_image{
	max-width: 100%;
}
@media screen and (max-width: 900px){
	.summary_section_1{
		width: 40%;
	}
}
@media screen and (max-width: 500px){
	.summary_section_1{
		width: 100%;
	}
}
.one{
	color: #01a2a6;
	font-size: 18px;
	font-weight: 600;
}
.summary_section_1_text{
	font-size: 16px;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 600;
	color: #333;
	margin: 0px;
	padding: 0px;
	font-family: font-family: 'Roboto', sans-serif;
}
.summary_nomber{
	width: 23%;
	height: 200px;
	display: flex;
	justify-content: center;
	align-items: center;
}
@media screen and (max-width: 590px){
	.summary_nomber{
		width: 100%;
	}
}
.summary_section_1_text_1{
	font-size: 18px;
	color: #929292;
}
.summary_nomber_text{
	font-size: 200px;
	font-weight: 700;
	font-family: "Nokora", Sans-serif;
	color: #01a2a6;
}
.summary_quote{
	width: 40%;
	height: 200px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
}
@media screen and (max-width: 590px){
	.summary_quote{
		width: 100%;
	}
}
.summary_quote_text{
	font-size: 32px;
	letter-spacing: 2px;
	font-weight: 600;
	margin: 0px;
	padding: 0px;
	font-family: 'Roboto', sans-serif;
}
.summary_quote_text_1{
	font-size: 24px;
/*	font-weight: inherit;*/
	color: #bababa;
	margin: 0px;
	padding: 0px;
}
.trk_block{
	width: 100%;
	height: 800px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background: #fcfcfc;
}
@media screen and (max-width: 767px){
	.trk_block{
		height: 2000px;
	}
}
.trk_block_1{
	width: 90%;
	height: 180px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.trk_heading{
	width: 40%;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.trk_text{
	font-size: 30px;
	font-weight: 400;
	letter-spacing: 2px;
	color: #222222;
	margin: 0px;
	padding: 0px;
	font-family: Roboto;
}
.trk_line{
	width: 20%;
	height: 10px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	margin-top: 30px;
}
.trk_line_1{
	width: 45%;
	height: 2px;
	background: #e8e8e8;
}
.trk_block_2{
	width: 90%;
	height: 403px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
@media screen and (max-width: 767px){
	.trk_block_2{
		height: 2000px;
		display: flex;
		flex-wrap: wrap;
	}
}
.trk_section{
	width: 21%;
	height: 185px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	background: #ffffff;
}
@media screen and (max-width: 767px){
	.trk_section{
		width: 100%;
	}
}
.gilbargo{
	max-width: 100%;
	margin-top: 50px;
}
.trk_section_block_text{
	width: 100%;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #fcfcfc;
}
.trk_section_text{
	font-size: 15px;
	font-weight: 600;
	letter-spacing: 1px;
	line-height: 1.4;
	color: #333;
	margin-top: 25px;
}
.genstar{
	max-width: 100%;
	margin-top: 50px;
}
.wayne{
	max-width: 100%;
	margin-top: 50px;
}
.tokheim{
	max-width: 100%;
	margin-top: 50px;
}
.adast{
	max-width: 100%;
	margin-top: 50px;
}
.tatsuno{
	max-width: 100%;
	margin-top: 50px;
}
.livenka{
	max-width: 100%;
	margin-top: 50px;
}
.shelf{
	max-width: 100%;
	margin-top: 50px;
}
.fact_block{
	width: 100%;
}
.fact_block_content{
	max-width: 1200px;
	margin: 0 auto;
	padding: 0px 20px;
}
.fact_block_1{
	margin-top: 50px;
	margin-bottom: 70px;
}
.fact_text_heading{
	font-size: 25px;
	text-align: center;
	font-family: Roboto;
}
.fact_block_heading{
	width: 60%;
	height: 100px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.fact_text{
	font-size: 15px;
	color: #929292;
	font-weight: 400;
	margin: 0px;
	padding: 0px;
	padding-top: 10px;
}
.fact_line{
	width: 20%;
	height: 7px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	margin-top: 30px;
}
.fact_line_1{
	width: 70%;
	height: 2px;
	background: #eeeeee;
}
.fact_block_2{
}
.fact_block_section_1{
	display: flex;
	justify-content: center;
	margin-bottom: 30px;
}
.fact_block_section_2{
	display: flex;
	justify-content: space-around;
}
.fact_block_section_img_1{
	width: 30%;
	height: 150px;
	text-align: center;
}
.fact_block_section_img_2{
	width: 25%;
	height: 150px;
	text-align: center;
	margin: 0px 45px 0px 45px;
}
.fact_block_section_img_3{
	width: 20%;
}

.fact_block_img{
	width: 100%;
	height: 80px;
	text-align: center;
}
.fact_block_text{
	width: 100%;
	padding-bottom: 50px;
	text-align: center;
}
.fact_text_2{
	font-size: 15px;
	padding: 0px 0px 0px 0px;
	line-height: 1.8;
	color: #929292;
}
.fact_section{
	width: 100%;
	height: 180px;
	display: flex;
	justify-content: space-between;
}
@media screen and (max-width: 900px){
	.fact_block_section_1{
		flex-wrap: wrap;
	}
	.fact_block_section_img_1{
		width: 50%;
	}
	.fact_block_section_2{
		flex-wrap: wrap;
	}
	.fact_block_section_img_3{
		width: 50%;
	}
	.fact_block_text{
		width: 80%;
		margin: 0 auto;
	}
}
@media screen and (max-width: 700px){
	.fact_block_section_img_1{
		width: 100%;
		margin-bottom: 20px;
	}
	.fact_block_section_1{
		margin-top: -20px;
	}
	.fact_block_section_img_2{
		width: 100%;
		margin-bottom: 35px;
	}
	.fact_block_section_img_3{
		width: 100%;
	}
}
.fact_text_4{
	font-size: 46px;
	font-weight: 500;
	color: #01a2a6;
}
.fact_text_5{
	font-size: 46px;
	margin-left: 7px;
	font-weight: 500;
	color: #01a2a6;
}
.fact_text_6{
	font-size: 13px; 
	font-weight: 500;
	color: #353535;
}
.task{
	width: 100%;
	height: 600px;
	background: #fcfcfc;
	overflow: hidden;
}
.task_content{
	max-width: 1200px;
	margin: 0 auto;
	padding: 0px 20px;
	display: flex;
}
@media screen and (max-width: 700px){
	.task{
		height: auto;
	}
	.task_content{
		flex-direction: column-reverse;
		padding: 0px;
	}
}
.task_block_1{
	width: 60%;
	display: flex;
	justify-content: flex-end;
}
.task_block_1 img{
	margin-top: -70px;
	margin-right: -25px;
}
.task_block_image{
}
.task_block_2{
	width: 40%;
	display: flex;
	align-items: center;
	background: #fcfcfc;
}
.task_block_2_item{
	padding: 0px 30px;
}
.task_block_heading{
}
@media screen and (max-width: 850px){
	.task_block_1{
		width: 65%;
	}
	.task_block_2{
		width: 35%;
	}
	.task_block_2_item{
		padding: 0px 20px;
	}
}
.task_text{
	font-size: 32px;
	letter-spacing: 2px;
	color: #222222;
	margin: 0px;
	padding: 0px;
	font-family: Roboto;
}
.task_line{
	width: 50%;
	margin: 30px 0px;
}
.task_line_1{
	width: 100%;
	height: 2px;
	margin: 5px 0px;
	background: #e8e8e8;
}
.task_block_text{

}
.task_ul{
	margin-top: 10px;
	margin-left: -20px;
}
.task_li{
	font-size: 20px;
	padding: 4px 0px;
	color: #000000;
	font-family: Roboto;
}
@media screen and (max-width: 1000px){
	.task_text{
		font-size: calc(4vw - 8px);
	}
	.task_li{
		font-size: calc(1vw + 10px);
	}
}
@media screen and (max-width: 700px){
	.task_block_2{
		width: 100%;
	}
	.task_block_1{
		width: 100%;
	}
	.task_block_1 img{
		max-width: 100%;
	}
	.task_block_2_item{
		padding: 20px 20px;
	}
	.task_text{
		font-size: 24px;
	}
	.task_li{
		font-size: 15px;
		font-family: inherit;
	}
	.task_block_1 img{
		margin-top: 0px;
		margin-right: 0px;
	}
}
.instruction{
	width: 100%;
}
.instruction_content{
	max-width: 1200px;
	margin: 0 auto;
	padding: 0px 20px;
}
.instruction_block_1{
	padding-bottom: 80px;
}
.instruction_block_heading{
	padding: 50px 0px;
}
.instruction_text{
	font-size: 32px;
	color: #222222;
	font-weight: 400;
	letter-spacing: 2px;
	line-height: 1;
	font-family: Roboto;
	margin: 0px;
	padding: 0px;
	font-family: Roboto;
	text-align: center;
}
.instruction_line{
	width: 20%;
	margin: 0 auto;
	margin-top: 20px;
}
.instruction_line_1{
	height: 2px;
	background: #eeeeee;
	margin: 5px 0px;
}
.instruction_block_2{
	padding-bottom: 50px;
}
.instruction_block_section{
	display: flex;
	justify-content: space-between;
}
@media screen and (max-width: 700px){
	.instruction_block_section{
		flex-direction: column;
	}
}
.instruction_section_1{
	width: 32%;
	padding: 30px 0px;
	border-radius: 7px 7px 7px 7px;
	background: #fcfcfc;
	border: 1px solid #eeeeee;
}
@media screen and (max-width: 700px){
	.instruction_section_1{
		width: 100%;
		margin-bottom: 30px;
	}
	.instruction_block_2{
		padding-bottom: 0px;
	}
	.instruction_block_1{
		padding-bottom: 0px;
	}
}
.instruction_section_heading{
	padding: 0px 20px;
}
.instruction_text_1{
	font-size: 24px;
	line-height: 40px;
	font-weight: 300;
	color: #333;
	padding: 0px;
	margin: 0px;
	text-align: center;
}
.instruction_section_text{
	padding: 0px 20px;
}
.instruction_text_2{
	font-size: 16px;
	line-height: 24px;
	margin: 0px;
	padding: 0px;
	color: #929292;
	text-align: center;
	font-family: Roboto;
}
.instruction_text_3{
	margin-left: 15px;
}
@media screen and (max-width: 1000px){
	.instruction_text_1{
		font-size: calc(2vw + 4px);
	}
	.instruction_text_2{
		font-size: calc(1vw + 6px);
	}
	.instruction_text_2{
		font-size: 15px;
	}
}
@media screen and (max-width: 700px){
	.instruction_text_1{
		font-size: 22px;
	}
}
.forma{
	width: 100%;
	background: #fcfcfc;
}
.forma_block{
	max-width: 700px;
	margin: 0 auto;
	padding: 0px 20px;
}
.forma_block_1{
	width: 100%;
	padding: 30px 0px;
}
.forma_block_2{
	width: 100%;
}
.forma_block_name{
	display: flex;
}
.forma_name{
	width: 45%;
	margin: 0 auto;
}
.label{
	font-size: 18px;
	font-weight: 700;
	line-height: 1.3;
	color: #929292;
	font-family: Roboto;
}
.label_1{
	font-size: 13px;
	font-weight: 400;
	line-height: 1.3;
	color: #929292;
}
.valid{
	margin: 0px;
	padding: 0px;
	color: #990000;
}
.valid_1{
	margin: 0px;
	padding: 0px;
	color: #990000;
}
.valid_2{
	margin: 0px;
	padding: 0px;
	color: #990000;
}
.valid_3{
	margin: 0px;
	padding: 0px;
	color: #990000;
}
.star{
	color: #ff0000;
}
.name_message{
	width: 100%;
	margin:0px;
	padding: 10px 5px;
	background: #f9f9f9;
	border: 1px solid #ccc;
}
.forma_surname{
	width: 45%;
	margin: 0 auto;
}
.label_opacity{
	opacity: 0;
	font-weight: 700;
	font-size: 16px;
	line-height: 1.3;
}
.surname_message{
	width: 100%;
	margin: 0px;
	padding: 10px 5px;
	border: 1px solid #ccc;
	background: #f9f9f9;
	margin-top: 2px;
	
}
.forma_block_email{
	width: 100%;
	margin: 20px 0px;
}
.forma_block_email_content{
	width: 95%;
	margin: 0 auto;
}
.email_message{
	width: 100%;
	padding: 10px 5px;
	border: 1px solid #ccc;
	background-color: #f9f9f9;
	
}
.forma_block_message{
	width: 100%;
	margin: 20px 0px;
}
.forma_block_message_content{
	width: 95%;
	margin: 0 auto;
}
.textarea{
	width: 100%;
	height: 200px;
	padding: 0px 5px;
	border-color: #eaeaea;
	background-color: #f9f9f9;
}
.forma_text{
	margin: 0px;
	padding: 0px;
	color: #000000;
	font-size: 24px;
	text-align: center;
	font-family: Roboto;
}
.button_message{
	padding: 15px 40px;
	font-size: 12px;
	font-weight: 600;
	text-transform: uppercase;
	cursor: pointer;
	line-height: 1;
	color: #fff;
	background: #01a2a6;
	margin-top: 20px;
	margin-left: 20px;
}
.button_message:hover{
	background: #333;
	transition: all 0.3s;
}
.div_line{
	width: 100%;
	height: 1px;
	background: #000000;
}
@media screen and (max-width: 700px){
	.forma_block_name{
		flex-direction: column;
	}
	.forma_name{
		width: 100%;
	}
	.forma_surname{
		width: 100%;
	}
	.forma_block_email_content{
		width: 100%;
	}
	.forma_block_message_content{
		width: 100%;
	}
	.button_message{
		margin-left: 0px;
	}
}
.footer{
	width: 100%;
	padding: 30px 0px;
	border-top: 1px solid #1b1b1b;
	background: #d3d3d3;
	margin-top: 150px;
	margin-bottom: 30px;
}
.footer_content{
	max-width: 1200px;
	margin: 0 auto;
	padding: 0px 20px;
}
.footer_item{
	display: flex;
}
.footer_block{
	width: 25%;
}
.footer_block_head{
	margin-bottom: 15px;
}
.footer_block_body_information{
	margin-bottom: 10px;
}
.footer_block_head_text{
	padding: 0px;
	margin: 0px;
	font-size: 14px;
	font-weight: 600;
}
.footer_block_body_information_text_link{
	text-decoration: none;
	color: #000000;
	font-size: 14px;
}
.footer_block_body_information_text{
	margin: 0px;
	padding-right: 20px;
	font-size: 14px;
}
@media screen and (max-width: 800px){
	.footer_block_head_text{
		font-size: calc(1vw + 6px);
	}
}
@media screen and (max-width: 700px){
	.footer{
		margin-bottom: 0px;
	}
	.footer_item{
		flex-direction: column;
		text-align: center;
	}
	.footer_block{
		width: 100%;
	}
	.footer_block_head_text{
		font-size: 14px;
		margin-right: 20px;
	}
}


